.footer {
  text-align: center;
  padding: 60px 0;
  background-color: var(--footer-background-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
}
.address-wrapper {
  margin-bottom: 60px;
}
.footer__logo {
  margin-bottom: 20px;
  &--second-part {
    color: var(--footer-text-color);
  }
}
.address-join-wrapper {
  margin-bottom: 60px;
}
.address {
  display: block;
  font-style: normal;
}
.address__location {
  margin-bottom: 9px;
  color: var(--footer-text-color);
}

.footer-contacts__item:first-of-type {
  margin-bottom: 9px;
}
.footer-contacts__link {
  color: var(--footer-contacts-color);
  transition: color var(--primary-transition-time) var(--primary-cubic-function);
  &:hover,
  &:focus {
    color: var(--action-color);
    transition: color var(--primary-transition-time) var(--primary-cubic-function);
  }
}
.join {
  &__title {
    display: block;
    margin-bottom: 20px;
    color: var(--footer-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
.socials {
  display: flex;
  justify-content: center;
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-radius: 50%;
    color: var(--primary-background-color);
    background-color: var(--footer-link-color);
    transition: background-color var(--primary-transition-time) var(--primary-cubic-function);
  }
  &__link:hover,
  &__link:focus {
    background-color: var(--action-color);
  }
  &__icon {
    fill: currentColor;
  }
}
.subscribe__title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscribe__input {
  color: var(--primary-background-color);
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: var(--footer-mail-border);
  filter: drop-shadow(var(--footer-mail-filter));
  background-color: var(--footer-background-color);
}
.subscribe__button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.67;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--action-color);
  box-shadow: var(--primary-box-shadow);
}
.subscribe__icon {
  margin-left: 10px;
}
@media screen and (min-width: $tablet-width) {
  .address-join-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .address-wrapper {
    margin-bottom: 0;
  }
  .join {
    margin-bottom: 0;
  }
  .subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: $desktop-width) {
  .footer {
    text-align: left;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .address-join-wrapper {
    margin-right: auto;
    align-items: baseline;
  }
  .address-wrapper {
    margin-right: 70px;
  }
  .join {
    margin-right: auto;
    margin-bottom: 0;
  }
  .subscribe__form {
    display: flex;
    align-items: flex-end;
  }
  .subscribe__label {
    margin-right: 12px;
  }
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
  .subscribe__button {
    margin: 0;
  }
}
