:root {
  --primary-background-color: #ffffff;
  --header-border-color: #ececec;
  --team-background-color: #f5f4fa;
  --hero-color: #2f303a;
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --hero-text-color: #ffffff;
  --hero-button-hover-color: #188ce8;
  --galery-overlay-color: rgba(47, 48, 58, 0.8);
  --svg-links-color: #afb1b8;
  --link-shadow-set: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --action-color: #2196f3;
  --footer-background-color: #2f303a;
  --footer-text-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-link-color: rgba(255, 255, 255, 0.1);
  --nav-button-backgroud-color: #f5f4fa;
  --page-nav-shadow-set: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-shadow-set: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --projects-border-color: #eeeeee;
  --projects-overlay-color: rgba(33, 150, 243, 0.9);
  --team-shadow-set: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --primary-transition-time: 250ms;
  --primary-cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-background-color: rgba(0, 0, 0, 0.2);
  --close-button-border-set: 1px solid rgba(0, 0, 0, 0.1);
  --primary-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --footer-mail-border: 1px solid rgba(255, 255, 255, 0.3);
  --footer-mail-filter: (0px 4px 4px rgba(0, 0, 0, 0.15));
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --modal-placeholder-color: rgba(117, 117, 117, 0.5);
}
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;
