.hero {
  padding: 118px 0;
  text-align: center;
  background-color: var(--hero-color);
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  &__title {
    font-size: 26px;
    line-height: 1.62;
    margin: 0 auto 30px auto;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--hero-text-color);
  }
  &__button {
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--hero-text-color);
    background-color: var(--action-color);
    transition: background-color var(--primary-transition-time) var(--primary-cubic-function);
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: var(--hero-button-hover-color);
    }
  }
}
.overlay {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to top, var(--hero-overlay-color), var(--hero-overlay-color)),
    url(../images/mobile-bg@1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to top, var(--hero-overlay-color), var(--hero-overlay-color)),
      url(../images/mobile-bg@2.jpg);
  }
}
@media screen and (min-width: $tablet-width) {
  .overlay {
    background-image: linear-gradient(to top, var(--hero-overlay-color), var(--hero-overlay-color)),
      url(../images/tablet-bg@1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to top,
          var(--hero-overlay-color),
          var(--hero-overlay-color)
        ),
        url(../images/tablet-bg@2.jpg);
    }
  }
}
@media screen and (min-width: $desktop-width) {
  .hero {
    padding: 200px 0;
  }
  .overlay {
    height: 600px;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
  .overlay {
    background-image: linear-gradient(to top, var(--hero-overlay-color), var(--hero-overlay-color)),
      url(../images/desktop-bg@1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to top,
          var(--hero-overlay-color),
          var(--hero-overlay-color)
        ),
        url(../images/desktop-bg@2.jpg);
    }
  }
}
